@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@layer base {
  :root {
    font-family: 'Lato', sans-serif;
  }

  .photos-gallery {
    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
